$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$outfit: "Outfit", system-ui;

body {
  background-color: $main-bg;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  font-family: $outfit;
  background-color: $card-bg;
  padding: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 20px 30px 30px darken($color: hsla(217, 54%, 11%, 0.9), $amount: 2%);

  .card-image {
    width: 100%;
    margin-bottom: 28px;
    position: relative;
    border-radius: 14px;

    & .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }

    & .view-image {
      position: absolute;
      background-color: hsla(178, 100%, 50%, 0);
      inset: 0;
      border-radius: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s ease;

      & .view {
        display: none;
        transition: background-color 0.5s ease-in;
      }

      &:hover {
        cursor: pointer;
        background-color: hsla(178, 100%, 50%, 0.5);

        & .view {
          display: block;
        }
      }
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    gap: 23px;

    & .title {
      font-size: 24px;
      font-weight: 600;
      color: $white;
      width: max-content;

      &:hover {
        cursor: pointer;
        color: $cyan;
      }
    }

    & .desc {
      font-size: 18px;
      line-height: 24px;
      color: $soft-blue;
      font-weight: 400;
    }

    & .prices-section {
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      & .price {
        display: flex;
        align-items: center;
        gap: 7px;
        color: $cyan;
        font-weight: 500;
      }

      & .days {
        display: flex;
        align-items: center;
        gap: 7px;
        color: $soft-blue;
      }
    }
  }

  & .line {
    width: 100%;
    height: 2px;
    margin: 15px 0;
    border: none;
    background-color: $line;
  }

  & .card-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: $soft-blue;

    & .icon-container {
      width: 35px;
      height: 35px;
      border: solid 2px white;
      border-radius: 50%;
      .icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & span .user-name {
      color: $white;

      &:hover {
        cursor: pointer;
        color: $cyan;
      }
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: $soft-blue;
  font-family: $outfit;

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 374px) {
  .card {
    width: 90%;
  }
}
